body::-webkit-scrollbar{
  display: none;
}


#home{
  padding: 5vw;
  height: 60vh;
  width: 80vw;
  /* border: 2px solid red; */
  display: flex;
}
#home img{
  height: 100%;
  width: 40%;
  padding: 3vw;
  margin-left: 5vw;
}
#home #hr{
  margin-top: 5vw;
  display: block;
  align-items: center;
  /* margin-bottom: 3vw; */
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  flex-direction: column;
}
#home #hr h1{
  font-size: 5vw;
  line-height: 5vw;
  display: block;
  /* border: 2px solid black; */
}
#hr button{
  padding: 1vw 2vw;
  background-color: #0a0c0a;
  color: white;
  border: none;
  cursor: pointer;
 margin-left: 1vw;
}
nav {
  position: relative;
  display: flex;
  /* margin-top: 10vw; */
  justify-content: space-between;
  background-color: white;
  color: black;
  /* border: 1px solid black; */
  width: 100%;
  height: 10vh;
}
nav p{
  color: red;
  margin-left: 25vw;
  font-size: 2vw;
}
#navl {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#navl h1{
  font-size: 2vw;
  line-height: 1vw;
  display: block;
  margin-bottom: 1vw;
  margin-left: 4vw;
}
.lines{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.lines h4{
  font-size: 1.5vw;
  line-height: 1vw;
  display: flex;
  justify-content: space-between;
  margin-top: 1vw;
  margin-left: 1vw;
}

#navr {
  display: flex;
  width: 30vw;
  justify-content: space-between;
}
#navr button {
  width: 10vw;
  height: 4.3vw;
  margin-left: 1vw;
}

#dice {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2vw;
  white-space: nowrap;
  /* border: 2px solid red; */
}
#dice img {
  height: 15vw;
  width: 15vw;
  margin-bottom: 0.5vw;
}
#dice h4{
  line-height: 1vw;
  white-space: nowrap;
  margin-top: 1px;
  /* border: 2px solid red; */
}
#dice button {
  margin-top: 0.5vw;
  width: 13vw;
}
#rules{
  display: none;
  width: 50vw;
  white-space: nowrap;
  /* border: 2px solid red; */
  height: 15vw;
  margin-left: 35vw;
}
#rules p{
  white-space: nowrap;
  line-height: 1.5vw;
}